<div class="card search">
  <h1 class="search-headline">Artist Directory</h1>
  <label class="search-label">Search <span *ngIf="query" [innerHTML]="'for: ' + query"></span></label>
  <input class="search-input" placeholder="type in search term here" [(ngModel)]="query">
</div>

<ul class="artistlist cf" *ngIf="query">
  <li class="artistlist-item cf"
      (click)="showItem(item); query=''"
      *ngFor="let item of (artists | search : query)">
    <ad-artist-item class="content" [artist]="item"></ad-artist-item>
  </li>
</ul>

<ad-artist-detail *ngIf="currentArtist" [artist]="currentArtist"></ad-artist-detail>

