<section class="card artist-details">
  <h1 class="artist-name">{{artist.name}}</h1>
  <div class="info">
    <h3 class="artist-reknown">{{artist.reknown}}</h3>
    <img class="artist-img" src="images/{{artist.shortname}}_tn.jpg" alt="{{artist.name}}">
    <div class="artist-longbio">{{artist.bio}}</div>
  </div><!--info-->
</section><!--artistdetails-->