.artist-details {
  position: absolute;
  background: white;
  width: 100%;
  max-width: 850px;
  margin: 2rem auto;
  padding: 2rem;
  position: relative;
  opacity: 1;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.artist-details .artist-name{
  font-size: 2em;
  margin-bottom: 3px;
}

.artist-details .artist-reknown {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}


.artist-details .artist-img {
  width: 40%;
  max-width: 130px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
}

.artist-details .artist-longbio {
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 1rem;
}
